In [56]:
def lbs_to_kg(weight_in_lbs):     #defining a function
    return (round(weight_in_lbs * 0.453592,2)) #converting weights in lbgs to kg and returning the values
n = int(input("Enter number of students: ")) #taking input from user
weights_in_lbs = [] #creating a list for weights in lbs
weights_in_kg = []  #creating a list for weights in kg
for i in range(n):
    weight = float(input("Enter weight of student {} in lbs: ".format(i+1))) #iterating the loop till the number of studendents provided by user
    weights_in_lbs.append(weight) #appending weight values in lbs to list 
for weight in weights_in_pounds:
    weight_in_kg = lbs_to_kg(weight) #calling the function lbs_to_kg
    weights_in_kg.append(weight_in_kg) #appending the values returned by function into the list weight_in_kg
print("Weights in kilograms: ",weights_in_kg)

Enter number of students: 4
Enter weight of student 1 in lbs: 150
Enter weight of student 2 in lbs: 155
Enter weight of student 3 in lbs: 145
Enter weight of student 4 in lbs: 148
Weights in kilograms:  [68.04, 70.31, 65.77, 67.13]

In [51]:
radius = 10
area = 3.14 * radius ** 2 #caluclating area of the circle
print("The area of a circle with radius {} is {:.0f} meters square.".format(radius,area)) #caluclating area by formatting float with no decimal places and printing the value.

The area of a circle with radius 10 is 314 meters square.

In [52]:
print("Name\t\tAge\tCountry\tCity") 
print("Asabeneh\t250\tFinland\tHelsinki") #\t create tab space between the words

Name		Age	Country	City
Asabeneh	250	Finland	Helsinki

In [4]:
msg="I am a teacher and I love to inspire and teach people" 
listl=(msg.split("")) #split() splits each word in a sentence and stores them in a list
print("no of unique words are",len(set(listl))) # list will be converted into a set() because set don't contain duplicate values and printing number of unique words from the given sentence using length function

no of unique words are 10

In [44]:
import math
#caluclating area of circle
radius = 30
_area_of_circle_ = math.pi * (radius ** 2) 
print("The area of the circle is:", _area_of_circle_)
#caluclating circumference of a circle
_circum_of_circle_ = 2 * math.pi * radius
print("The circumference of the circle is:", _circum_of_circle_)

#caluclating area of a circle by taking radius as user input
radius = float(input("Enter the radius of the circle: "))
_area_of_circle_ = math.pi * (radius ** 2)
print("The area of the circle is:",_area_of_circle_)

The area of the circle is: 2827.4333882308138
The circumference of the circle is: 188.49555921538757
Enter the radius of the circle: 2
The area of the circle is: 12.566370614359172

In [43]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
count_it = len(it_companies) #caluclating the length of it_companies set
print("Number of it_companies are:",count_it) 
it_companies.add('Twitter') #adding twitter to it_companies set
print("Added twitter company:",it_companies)
it_companies.update(['Uber', 'Netflix', 'Spotify']) #adding multiple companies to it_companies set
print("Added multiple companies:",it_companies)
it_companies.remove('Netflix') #removing one company from it_companies set
print("After removing Netflix compnay:",it_companies)
it_companies.discard('Salesforce') #discarding an element not present in it_companies set
print("After discrfading an element not present in set:",it_companies)      
#remove() method will raise an error if the specified item doesnot exsist, whereas the discard() won't show error.
print("Joining A and B:",A.union(B))
print("A intersection B:",A.intersection(B))
print("Is A subset of B:",A.issubset(B))
print("Are A and B disjoint sets:",A.isdisjoint(B))
C = A.union(B)
print("Joining A with B:",C)
D = B.union(A)
print("Joining A with B:",D)
print(" symmetric difference between A and B:",A.symmetric_difference(B))
#Deleting the sets completely
del A
del B
del it_companies
age_set = set(age) #converting age list into a set
print("converted age list to a set:",age_set)
print("comparing the length of the list and the set:",len(age)-len(age_set))

Number of it_companies are: 7
Added twitter company: {'Microsoft', 'IBM', 'Twitter', 'Facebook', 'Apple', 'Amazon', 'Google', 'Oracle'}
Added multiple companies: {'Microsoft', 'Facebook', 'Netflix', 'Apple', 'Spotify', 'Twitter', 'IBM', 'Google', 'Uber', 'Amazon', 'Oracle'}
After removing Netflix compnay: {'Microsoft', 'Facebook', 'Apple', 'Spotify', 'Twitter', 'IBM', 'Google', 'Uber', 'Amazon', 'Oracle'}
After discrfading an element not present in set: {'Microsoft', 'Facebook', 'Apple', 'Spotify', 'Twitter', 'IBM', 'Google', 'Uber', 'Amazon', 'Oracle'}
Joining A and B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint sets: False
Joining A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Joining A with B: {19, 20, 22, 24, 25, 26, 27, 28}
 symmetric difference between A and B: {27, 28}
converted age list to a set: {19, 22, 24, 25, 26}
comparing the length of the list and the set: 3

In [33]:
sisters = ("Keerthy", "Sita", "Priya") # creating a sisters tuple and appending values
print("sisters are:",sisters)
brothers = ("Venu", "Sanjay", "Vivek") #creating a brothers tuple and appending values
print("brothers are:",brothers)
siblings = sisters + brothers #concactinating sisters and brothers tuples into a single tuple named as siblings
print("siblings are:",siblings)
num_siblings = len(siblings)#caluclating length of tuple and assiging it to a variable
print("Number of siblings:", num_siblings)
family_members = siblings + ("Subba Rao", "Suneetha") #modifying siblings tuple by adding values and adding it to family members
print("Family members:",family_members)

sisters are: ('Keerthy', 'Sita', 'Priya')
brothers are: ('Venu', 'Sanjay', 'Vivek')
siblings are: ('Keerthy', 'Sita', 'Priya', 'Venu', 'Sanjay', 'Vivek')
Number of siblings: 6
Family members: ('Keerthy', 'Sita', 'Priya', 'Venu', 'Sanjay', 'Vivek', 'Subba Rao', 'Suneetha')

In [64]:
#Creating a empty dictionary called dog
dog = {}
print("Empty dictionary:",dog) 
# Adding keys and values into the dictinoary
dog['name'] = "puppy"
dog['color'] = "black"
dog['breed'] = "german shepard"
dog['legs'] = 4
dog['age'] = 10
print("Dog dictionary:",dog)
#creating a student dictionary and adding keys,values into dictionary
student={'first_name':'Tarun','last_name':'Garimella','gender':'Male','age':'22','marital status':'Single','skills':['c'],'country':'India','city':'Vijayawada','address':'Ramavarappadu,vijayawada,India'}
#length of student dictionary
print("length of dictionary:",len(student))
#values for skills key
print("skills:",student["skills"])
#datatype of skills
print("datatype:",type(student["skills"]))
#adding more values to skills key
student["skills"].append('mysql')
student["skills"].append('javascript')
print("skills:",student["skills"])
#student dictionary key values as a list
list1 = list(student.keys())
print("keys as a list:",list1)
#student dictionary values as a list
list2=list(student.values())
print("values as a list:",list2)

Empty dictionary: {}
Dog dictionary: {'name': 'puppy', 'color': 'black', 'breed': 'german shepard', 'legs': 4, 'age': 10}
length of dictionary: 9
skills: ['c']
datatype: <class 'list'>
skills: ['c', 'mysql', 'javascript']
keys as a list: ['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address']
values as a list: ['Tarun', 'Garimella', 'Male', '22', 'Single', ['c', 'mysql', 'javascript'], 'India', 'Vijayawada', 'Ramavarappadu,vijayawada,India']

In [20]:
ages=[19, 22, 19, 24, 20, 25, 26, 24, 25, 24] #defining a list containing ages of 10 students
ages.sort() #sorting the list of ages 
print("sorted ages:",ages)  
miniage=min(ages) #assigning a varibale miniage to store the minimum value returned by min() function
print("Minimum age:",miniage)
maxage=max(ages) #assigning a varibale to store maxage the minimum value returned by max() function
print("Maximum age:",maxage)
ages.append(miniage) #append the minimum value stored in miniage variable to list 
ages.append(maxage)  #append the maximum value stored in maxage variable to list
print("Ages after adding min and max ages:",ages)
n=len(ages)         #caluclating the length of list and assigning it to a variable n
if n % 2 == 0:      # if remainder is 0 it is an even number
    median1 = ages[n//2] 
    median2 = ages[n//2 - 1]
    median = (median1 + median2)/2 #median is average of middle and secondle middle most elements in list from left to right
    print("median of ages:",median)
else:
    median = ages[n//2] 
    print("median of ages:",median)
sumofages=sum(ages) #caluclating the sum of values in list using sum() function and assigining it to variable sumofages
average=sumofages/n #caluclating avergae 
print("average of ages:",average)
rangeofages=maxage-miniage #range is the difference between maximum and minimum
print("range of the ages:",rangeofages)

sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum age: 19
Maximum age: 26
Ages after adding min and max ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
median of ages: 24.0
average of ages: 22.75
range of the ages: 7

ValueError: empty separator